.div1{
  background-color:aliceblue;
  display:inline-block;
  padding:30px;
  border:solid;
  border-color:black;
  margin-left:600px;
  margin-top:150px;
  margin-bottom:200px;
}
.text1{
  width:280px;
  height:50px;
  border-radius:10px;
  border-color:black;
  text-align:right;
  font-weight: bold;
  font-size:18px;
}
button{
  color:black;
  font-weight:bold;
  padding:20px;
  background-color:rgb(255, 255, 255);
  border-color:black;
  border-width:1px;
  border-radius:10px;
}
.clear,.Allclear{
  background-color:green;
  color:white;
}